h1 {
    margin: 10px;
    text-align: center;
}

.panel-footer {
    text-align: right;
}

.myMargin {
    margin-bottom: 20px;
}

.total {
    font-size: 16px;
    font-family:'Bookman Old Style';
}